body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.pdf_container {
  width: 1048px;
  height: 1754px;
  margin: 0 auto;
  border: 1px solid #BCB5B9;
  margin-top: 10px;
  margin-bottom: 10px;
} 

.pdf_section_0 {
  margin-left: 45px;
  height: 128.5px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.pdf_section_1 {
  margin-left: 45px;
  /*height: 455px;*/
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_left {
  height: 322px;
  width: 163px;
  background-color: #eeeeee;
}

.pdf_logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pdf_info_logo {
  width: 764px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          background-image: linear-gradient(to right, rgba(255, 255, 255, 255), #eeeeee)
}

.pdf_logo img {
  width: 297px;
}

.pdf_confirm_bot {
  background: #eeeeee;
  height: 327px;
}

.pdf_confirm_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 327px;
  height: 142.8px;
  background-color: #4a185d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 38px;
}

.pdf_confirm-info {
  margin-top: -11px;
  padding-left: 32px;
}

.pdf_confirm .title {
  font-size: 19px;
  font-weight: normal;
  line-height: 1.49;
  color: #ffffff;
  margin-bottom: 10px;
}

.pdf_confirm .sub_title {
  font-size: 12.5px;
  font-weight: bold;
  line-height: 0.86;
  color: #ffffff;
}

.pdf_info_block_t {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 868px;
  height: 128.5px;
  border-bottom: 2px solid #ffffff;
}

.pdf_info_block_h {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 128.5px;
  background: #eeeeee;
}

.pdf_info_item {
  width: 1193px;
  padding: 40px 0 40px 77.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pdf_info_item span {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 19px;
}

.pdf_info_items {
  width: 42.3333%;
  padding: 34px 0 40px 77.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pdf_info_items-confirm {
  width: 614px;
  padding: 40px 0 40px 77.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pdf_info_items-number {
  width: 47.33%;
  padding: 34px 0 40px 77.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pdf_info_items .subtitle,
.pdf_info_items-confirm .subtitle,
.pdf_info_items-number .subtitle {
  font-size: 12.5px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 5px;
}

.pdf_info_item .subtitle {
  width: 385px;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.pdf_info_items .title,
.pdf_info_items-confirm .title,
.pdf_info_items-number .title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 8px;
}

.pdf_info_items .subtitle_2,
.pdf_info_items-number .subtitle_2 {
  font-size: 12.5px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.pdf_info_block {
  width: 868px;
}

.pdf_info_block_t .date {
  border-right: 2.5px solid #ffffff;
  background: #eeeeee url(../images/pdf_date.svg) no-repeat left 34.5px center;
  background-size: 26.5px 26.5px;
}

.pdf_info_item {
  background: url(../images/pdf_phone_4.svg) no-repeat left 34.5px center;
  background-size: 26.5px 26.5px;
}

.pdf_info_block_h .date {

  border-right: 2.5px solid #ffffff;
}

.qr-code img {
  width: 64px;
  height: 64px;
}

.pdf_info_block_t .number {
  background: #eeeeee url(../images/moon.svg) no-repeat left 38.5px center;
  background-size: 24px 26px;
}

.pdf_info_block_h .number {
  background: url(../images/lightning.svg) no-repeat left 38.5px center;
  background-size: 19px 26px;
}

.main.info_b{
  width: 100%;

}

.pdf_info_block_b {
  width: 560px;
  background: #00000;
  height: 199px;
  padding: 24px 36.5px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pdf_info_block_b .main_info {
  width: 525px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 59px;
}

.pdf_info_block_b .main_info .name {
  width: 525px;
  border-bottom: 1px solid #d8d6d6;
}

.pdf_info_block_b .main_info .name .title {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.21;
  color: #000000;
  margin-bottom: 9px;
}

.pdf_info_block_b .main_info .name .stars {
  margin-bottom: 13px;
  font-size: 0;
}

.pdf_info_block_b .main_info .name .star {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 10px;
}

.pdf_info_block_b .main_info .name .active_star {
  background: url(../images/pdf_active_star.svg) no-repeat center;
  background-size: 13px 13px;
}

.pdf_info_block_b .main_info .name .nactive_star {
  background: url(../images/pdf_n_active_star.svg) no-repeat center;
  background-size: 13px 13px;
}

.pdf_info_block_b .small_items {
  width: 523px;
  border-bottom: 1px solid #d8d6d6;
  margin-right: 71px;
}

.pdf_info_block_b .small_items .title {
  font-size: 25px;
  font-weight: normal;
  color: #000000;
}

.pdf_info_block_b .small_items .subtitle {
  font-size: 12.5px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 15.5px;
}

.main_info_b .address {
  width: 525px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  font-size: 12.5px;
  font-weight: 500;
  color: #000000;
  border-bottom: 1px solid #d8d6d6;
  /*margin-right: 71px;*/
}

.main_info_b .address span {
  font-weight: bold;
}

.main_info_b_left .left_wrapper {
  width: 525px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_info_b_left .nds {
  padding-top: 20.5px;
}

.main_info_b .gps {
  width: 523px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  font-size: 12.5px;
  font-weight: 500;
  color: #000000;
  border-bottom: 1px solid #d8d6d6;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////
.main_info_b_left .sum {
padding-top: 13px;
}
.main_info_b_left .sum .title {
font-size: 25px;
font-weight: bold;
color: #000000;
}
.main_info_b_left .sum .subtitle {
font-size: 12.5px;
font-weight: 500;
color: #000000;
}
                                                                                                                                  

.main_info_b_left .gps span {
  font-weight: bold;
}

.main_info_b_left .phone_wrapper {
  width: 357.5px;
  margin-right: 43px;
  margin-top: 9px;
}

.main_info_b_left .phone_wrapper .phone_1 {
  padding-left: 23.5px;
  margin-right: 13.5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 0.95;
  color: #000000;
  background: url(../images/pdf_phone_1.svg) no-repeat left center;
  background-size: 15px 15px;
}

.main_info_b_left .phone_wrapper .phone_2 {
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

.main_info_b_left .euro {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-top: 9px;
}

.main_info_b_left {
  width: 594px;
}

.main_info_b {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_info_b_right .title {
  width: 307px;
  margin-left: 100px;
  margin-top: -65px;
  font-size: 12.5px;
  font-weight: bold;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 8px;
}

.main_info_b_right .subtitle {
  width: 150.5px;
  font-size: 12.5px;
  font-weight: normal;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 19px;
  margin-left: 100px;
}

.main_info_b_right {
  position: relative;
  top: -60px;
  left: 20px;
}

.main_info_b_right .qr img {
  width: 56px;
  margin-top: 40px;
  margin-left: 15px;
}

.pdf_info_block_prices{
  width: 868px;
  height: 140px;
  background-color: #eeeeee;
  border-bottom: 5px solid #ffffff;

}

.price_title{
  padding: 30px;  
}

.extra_payment_info{
  width: 100%;
  height:48px;
  padding-left: 33px;
}

.info_money_text{
  font-size: 12.5px;
  font-weight: normal;
}

.extra_payment_info{
  float: left;
  min-height: 39.6%;
}

#info_money {
  width: 242.7px;
  background: #eeeeee;
  float: left;
  min-height: 39.6%;
  font-size: 25px;

}

#info_money_euro {
  width: 229.7px;
  background: #eeeeee;
  float: left;
  min-height: 39.6%;
  font-size: 25px;

}

#info_money_taxes {
  width: 362.7px;
  background: #eeeeee;
  float: left;
  min-height: 39.6%;
  font-size: 12px;
}


.pdf_section_2 {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22.75px;
  margin-left: 45px;
}

.pdf_section_2 .section_left_t .text_wr {
  height: 149px;
  width: 441.5px;
  background-color: #eeeeee;
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotateZ(-90deg) translate(-33%, -98%);
      -ms-transform: rotate(-90deg) translate(-33%, -98%);
          transform: rotateZ(-90deg) translate(-33%, -98%);
  position: absolute;
}

.pdf_section_2 .section_left_t .text_wr .text {
  width: 285px;
  padding-left: 48px;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  text-align: right;
  position: relative;
}

.section_left_t {
  display: flex;
  width: 100%;
  height: 142.1px;
  object-fit: contain;
}

.section_left_z_1{
  width: 148px;
  padding-left: 15px;
  padding-top: 20px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 23px;
  font-weight: bold;
}

.section_left_z_2{
  width: 163px;
  padding-left: 15px;
  padding-bottom: 15px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.section_left_z_3{
  width: 163px;
  padding-left: 15px;
  margin-top: -13px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
}

.pdf_section_2 .section_left_t .text_wr .text span {
  font-weight: bold;
}

.section_left_t_image {
  width: 100%;
  background: url(../images/room_png.png) no-repeat center;
  height: 100%;
  -webkit-transform: rotateZ(0deg) translate(-33%, -98%);
      -ms-transform: rotate(0deg) translate(-33%, -98%);
          transform: rotateZ(0deg) translate(-33%, -98%);
}



.pdf_map {
  margin-left: 45px;
  width: calc(100% - 45px);
  position: relative;
}

.pdf_pin {
  position: absolute;
  top: 111px;
  background: url(../images/pdf_pin.svg) no-repeat center;
  background-size: 35.5px 43.5px;
  width: 35.5px;
  height: 43.5px;
  right: 0;
  left: 60%;
  margin-left: -140px;
  margin-top: -34px;
}

.pdf_qr_3 {
  position: absolute;
  border: 10px solid #ffffff;
  left: 33px;
  bottom: 64px;
  background: url(../images/qr2.svg) no-repeat;
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
  outline: 1px solid #d6d6d6;
}

.pdf_map img {
  width: 1195px;
  height: 100%;
}

.section_left_b {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_left_b_qr {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 149px;
  height: 160px;
  position: relative;
}

.section_left_b_qr img {
  width: 64px;
  height: 64px;
}

.section_left_b_qr::after {
  position: absolute;
  content: "";
  background: url(../images/pdf_phone_3.svg) no-repeat center;
  background-size: 30px 45px;
  width: 30px;
  height: 45px;
  right: -15px;
}

.section_left_b .text {
  width: 255px;
  padding: 35.5px 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #eeeeee;
  font-size: 19px;
  font-weight: normal;
  line-height: 1.26;
  color: #000000;
}

.title_price{
  width: 100%;
  padding-top: 18px;
  padding-left: 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.26;
  color: #000000;
}

.subtitle_price{
  width: 100%;
  padding-bottom:10px;
  padding-left: 33px;
  padding-right: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.26;
  color: #000000;
}


.pdf_section_2 .section_right {
  padding: 0 48px 0 22px;
  width: 100%;
}

.pdf_section_2 .section_right .title {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  color: #000000;
}

.pdf_section_2 .guest_wrapper_1 {
  border-top: 3px solid #d8d6d6;
  height: 14px;
  padding-bottom: 9px;
  margin-top: 7px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3px;

}

.pdf_section_2 .guest_wrapper_2 {
  height: 14px;
  padding-bottom: 9px;
  margin-top: 7px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d8d6d6;
}

.pdf_section_2 .guest_wrapper .first_guest {
  margin-right: 75px;
}

.pdf_section_2 .section_right .text {
  font-size: 12.5px;
  font-weight: 500;
  line-height: 1.68;
  color: #000000;
}
.pdf_section_2 .section_right .b_text_extra {

  margin-right: 96px;
  font-size: 12.5px;
  line-height: 1.68;
  color: #000000;
}
.pdf_section_2 .section_right > .b_text:last-of-type {
	border-bottom: 3px solid #d8d6d6;
	padding-bottom: .55rem;
}

.pdf_section_2 .section_right .b_text {
  font-size: 12.5px;
  font-weight: bold;
  line-height: 1.68;
  color: #000000;

}

.pdf_section_2 .section_right .gu_wr {
  margin-bottom: 10px;
}

.pdf_section_2 .section_right .food {
  margin-top: 7px;
  border-bottom: 1px solid #d8d6d6;
  padding-bottom: 7px;
}

.pdf_section_2 .section_right .bed {
  margin-top: 7px;
  border-bottom: 1px solid #d8d6d6;
  padding-bottom: 7px;
}

.pdf_section_2 .section_right .info {
  width: 100%
  height:66px;
  opacity: 0.9;
  margin-top: 8px;

  padding-bottom: 8px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.68;
  color: rgba(0, 0, 0, 0.9);
}

.pdf_section_2 .section_right .info_txt {
  width: 100%;
}

.pdf_section_2 .section_right .prepay {
  margin-top: 12px;
  border-bottom: 1px solid #d8d6d6;
  padding-bottom: 12px;
}

.pdf_section_2 .section_right .more_info_text{
  margin-top: 5px;
}
.pdf_section_2 .section_right .more_info_1 {
  margin-right: 10px;
}

.pdf_section_2 .section_right .more_info {
  margin-top: 17px;
}

.pdf_section_2 .section_right .more_info_wr {
  margin-bottom: 14px;
}

.pdf_section_3 .items_wrapper {
  padding: 37px 0px 0px 0px;
  font-size: 0;
}

.pdf_section_3 .items_wrapper .item {
  width: 357px;
  display: inline-block;
  margin-bottom: 19px;
  vertical-align: top;
}

.pdf_section_3 {
  margin-left: 45px;
  margin-right: 45px;
}

.pdf_section_3 .items_wrapper .item .title {
  width: 270px;
  padding-left: 55px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  color: #000000;
  margin-bottom: 12px;
}

.pdf_section_3 .items_wrapper .item .desc {
  font-size: 12.5px;
  font-weight: normal;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.9);
  padding-bottom: 24px;
  border-bottom: 1px solid #d8d6d6;
}

.pdf_section_3 .items_wrapper .item_col {
  width: 357px;
  display: inline-block;
  vertical-align: top;
  margin-right: 38px;
}

.pdf_section_3 .items_wrapper .item_col:nth-child(3n+3) {
  margin-right: 0px;
  margin-top: -14px;
}

.pdf_section_3 .items_wrapper .item_col .item1 .title {
  background: url(../images/pdf_it1.svg) no-repeat center left;
  background-size: 35px 31px;
  padding: 6px 0 6px 55px;
}

.pdf_section_3 .items_wrapper .item_col .item2 .title {
  background: url(../images/pdf_it2.svg) no-repeat center left;
  background-size: 35px 31px;
  padding: 6px 0 6px 55px;
}

.pdf_section_3 .items_wrapper .item_col .item3 .title {
  background: url(../images/pdf_it_3.svg) no-repeat center left;
  background-size: 29px 35px;
  padding: 6px 0 6px 55px;
}

.pdf_section_3 .items_wrapper .item_col .item4 .title {
  background: url(../images/pdf_it_4.svg) no-repeat center left;
  background-size: 35px 31px;
  padding: 6px 0 6px 55px;
}

.pdf_section_3 .items_wrapper .item_col .item5 .title {
  background: url(../images/pdf_it_5.svg) no-repeat center left;
  background-size: 35px 31px;
  padding: 6px 0 6px 55px;
}

.pdf_section_3 .items_wrapper .item_col .item6 .title {
  background: url(../images/pdf_it_6.svg) no-repeat center left;
  background-size: 35px 31px;
  padding: 6px 0 6px 55px;
}

.pdf_section_3 .items_wrapper .item_col .item6 .desc {
  border-bottom: none;
}

.pdf_section_3 .items_wrapper .item_col .desc_1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d6d6;
}

.pdf_section_3 .items_wrapper .item_col .desc_2 {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #d8d6d6;
}

.pdf_section_3 .b_text {
  font-size: 12.5px;
  font-weight: bold;
  line-height: 1.68;
  color: #000000;
}

@media print {
@page {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

  .pdf_container {
    zoom: 90%;
  }
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}