@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap&subset=cyrillic");

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.svg#Gilroy-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

.comfort_right .select_group .checkbox_switch {
  margin-right: 20px !important;
}

.comfort_right .select_group .reverse {
  padding-right: 55px !important;
}

.page_title {
  padding-left: 19px;
}

.person_links::before {
  margin-right: 13px;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.person_links a {
  margin-right: 3px !important;
}

.header .search {
  padding-left: 20px !important;
}

.header .left {
  padding-right: 15.5px !important;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

body {
  font-size: 16px !important;
  line-height: 1.4em !important;
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  color: #000 !important;
  position: relative;
}

label {
  cursor: pointer;
}

.jq-selectbox {
  cursor: pointer;
}

select {
  opacity: 0;
}

:focus {
  outline: none;
}

h1 {
  font-size: 28px;
  line-height: 32px;
}

h2 {
  font-size: 20px;
  line-height: 32px;
}

ul {
  margin: 0 0 20px 0;
}

.header .logo img {
  max-width: 190.5px;
}

.page_title h1 {
  font-size: 26px;
  font-weight: 300;
  line-height: 0.75em;
  color: #ffffff;
}

.page_title-mobile {
  display: none;
  font-size: 26px;
  font-weight: 300;
  line-height: 0.75em;
  color: #000;
  padding: 25px;
  background-color: #fff;
  position: relative;
  top: 75px;
  margin-bottom: 75px;
}

.person_links.btn {
  background-color: transparent;
  border: 0;
  color: #9e6ab2;
}

.person_links.btn:hover {
  background-color: transparent !important;
  border: 0 !important;
  color: #fff;
}

.person_links.btn:focus {
  background-color: transparent !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.header {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 76px;
  z-index: 99;
  -webkit-box-shadow: -7px 8px 9px -14px rgba(0, 0, 0, 0.75);
  box-shadow: -7px 8px 9px -14px rgba(0, 0, 0, 0.75);
}

.header .container {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .right {
  padding-right: 15px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: #560d89;
}

.header .right .row {
  height: 100%;
}

.header .right .row > div {
  height: 76px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #480a73;
}

.header .left {
  padding-left: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: #480a73;
  padding-right: 49.5px;
  padding-top: 15.5px;
  padding-bottom: 26.5px;
}

.header .left::before {
  content: '';
  display: block;
  position: absolute;
  background: #480a73;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.header .right::before {
  content: '';
  display: block;
  position: absolute;
  background: #560d89;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.person_links {
  display: inline-block;
  vertical-align: top;
}

.person_links::before {
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: -7px;
  margin-right: 19px;
  width: 18.5px;
  height: 18px;
  background-image: url(../images/person.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.person_links a {
  margin-right: 7px;
  font-size: 13px;
  font-weight: 500;
  line-height: 0.24em;
  color: #9e6ab2;
  text-decoration: none;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.person_links a.active {
  color: #fff;
}

.person_links a:hover {
  color: #fff;
}

.person_links a::before {
  content: '•';
  display: inline-block;
  margin-right: 10px;
}

.person_links a:last-child {
  margin-right: 0;
}

.person_links a:first-child::before {
  display: none;
}

.lang_select {
  display: inline-block;
}

.lang_select {
  margin-left: 40px;
  color: #9e6ab2;
  font-size: 13px;
  line-height: 1em;
  font-weight: 500;
  text-transform: uppercase;
}

.lang_select .jq-selectbox__select-text {
  position: relative;
  padding-right: 16px;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  cursor: pointer;
}

.lang_select .jq-selectbox__select-text::after {
  content: '';
  display: block;
  width: 8px;
  height: 5.5px;
  background: url(../images/chevron_down.svg) no-repeat 50% 50%;
  background-size: contain;
  position: absolute;
  top: 3px;
  right: 0;
  -webkit-transition: transform .5s ease;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.lang_select .opened .jq-selectbox__select-text::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.lang_select .jq-selectbox__select:hover {
  color: #fff;
}

.lang_select .jq-selectbox__dropdown {
  background: #480a73;
  padding: 5px 10px;
  width: 45.74px;
  left: -10px;
}

.lang_select .jq-selectbox__dropdown ul {
  margin: 0;
  padding: 0;
}

.lang_select .jq-selectbox__dropdown ul::-webkit-scrollbar,
.status ul::-webkit-scrollbar,
.hotels_select_controls .item ul::-webkit-scrollbar,
.main_select .jq-selectbox__dropdown::-webkit-scrollbar {
  width: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.lang_select .jq-selectbox__dropdown ul::-webkit-scrollbar-thumb,
.status ul::-webkit-scrollbar-thumb,
.hotels_select_controls .item ul::-webkit-scrollbar-thumb,
.main_select .jq-selectbox__dropdown::-webkit-scrollbar-thumb {
  background: #fff;
}

.lang_select .jq-selectbox__dropdown ul li {
  margin-bottom: 4px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.lang_select .jq-selectbox__dropdown ul li:hover {
  color: #fff;
  cursor: pointer;
}

.header .search {
  margin-left: 32px;
  display: -ms-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 28px;
  height: 100%;
  background: #560d89;
}

.header .tools {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header .search label {
  cursor: pointer;
}

.header .search label::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 15.5px;
  background: url(../images/search.svg) no-repeat 50% 50%;
  background-size: contain;
}

.header .search input {
  width: 0;
  height: 0;
  border: none;
  outline: none;
}

.main_menu {
  width: 240px;
  padding-top: 52px;
  padding-right: 60px;
}

.main_menu ul {
  margin: 0;
  padding: 0;
}

.main_menu ul li {
  margin-bottom: 47px;
  position: relative;
  padding-left: 75px;
  color: rgba(0, 0, 0, 0.4);
  list-style-type: none;
  line-height: 1em;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.main_menu ul li:hover {
  color: #000000;
}

.main_menu ul li a:hover::before {
  background-color: #480a73;
}

.main_menu ul li a::before {
  content: '';
  display: block;
  width: 59px;
  height: 35px;
  position: absolute;
  left: 0;
  top: -10px;
  border-radius: 8px;
  background-size: 21px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease;
}

.dash a::before {
  background-image: url(../images/dash_black.svg);
}

.dark .dash a::before {
  background-image: url(../images/dash_white.svg);
}

.dash .mobile a::before {
  background-image: url(../images/dash_white.svg);
  display: none;
}

.dash a:hover::before {
  background-image: url(../images/dash_white.svg);
}

.dash .mobile a:hover::before {
  background-image: url(../images/dash_black.svg);
}

.hotels a::before {
  background-image: url(../images/hotel_black.svg);
}

.dark .hotels a::before {
  background-image: url(../images/hotel_white.svg);
}

.hotels-mobile a::before {
  background-image: url(../images/hotel_white.svg);
}

.hotels a:hover::before {
  background-image: url(../images/hotel_white.svg);
}

.hotels-mobile a:hover::before {
  background-image: url(../images/hotel_black.svg);
}

.yurface a::before {
  background-image: url(../images/yur_black.svg);
}

.dark .yurface a::before {
  background-image: url(../images/yur_white.svg);
}

.yurface-mobile a::before {
  background-image: url(../images/yur_white.svg);
}

.yurface a:hover::before {
  background-image: url(../images/yur_white.svg);
}

.yurface-mobile a:hover::before {
  background-image: url(../images/yur_black.svg);
}

.control a::before {
  background-image: url(../images/control_black.svg);
}

.dark .control a::before {
  background-image: url(../images/control_white.svg);
}

.control-mobile a::before {
  background-image: url(../images/control_white.svg);
}

.control a:hover::before {
  background-image: url(../images/control_white.svg);
}

.control-mobile a:hover::before {
  background-image: url(../images/control_black.svg);
}

.users a::before {
  background-image: url(../images/users_black.svg);
}

.dark .users a::before {
  background-image: url(../images/users_white.svg);
}

.users-mobile a::before {
  background-image: url(../images/users_white.svg);
}

.users a:hover::before {
  background-image: url(../images/users_white.svg);
}

.users-mobile a:hover::before {
  background-image: url(../images/users_black.svg);
}

.transfer a::before {
  background-image: url(../images/transfer_black.svg);
}

.dark .transfer a::before {
  background-image: url(../images/transfer_white.svg);
}

.transfer-mobile a::before {
  background-image: url(../images/transfer_white.svg);
}

.transfer a:hover::before {
  background-image: url(../images/transfer_white.svg);
}

.transfer-mobile a:hover::before {
  background-image: url(../images/transfer_black.svg);
}

.auto a::before {
  background-image: url(../images/auto_black.svg);
}

.dark .auto a::before {
  background-image: url(../images/auto_white.svg);
}

.auto-mobile a::before {
  background-image: url(../images/auto_white.svg);
}

.auto a:hover::before {
  background-image: url(../images/auto_white.svg);
}

.auto-mobile a:hover::before {
  background-image: url(../images/auto_black.svg);
}

.excursion a::before {
  background-image: url(../images/ex_black.svg);
}

.dark .excursion a::before {
  background-image: url(../images/ex_white.svg);
}

.excursion-mobile a::before {
  background-image: url(../images/ex_white.svg);
}

.excursion a:hover::before {
  background-image: url(../images/ex_white.svg);
}

.excursion-mobile a:hover::before {
  background-image: url(../images/ex_black.svg);
}

.config a::before {
  background-image: url(../images/config_black.svg);
}

.dark .config a::before {
  background-image: url(../images/config_white.svg);
}

.config-mobile a::before {
  background-image: url(../images/config_white.svg);
}

.config a:hover::before {
  background-image: url(../images/config_white.svg);
}

.config-mobile a:hover::before {
  background-image: url(../images/config_black.svg);
}

.settings a::before {
  background-image: url(../images/settings_black.svg);
}

.dark .settings a::before {
  background-image: url(../images/settings_white.svg);
}

.settings-mobile a::before {
  background-image: url(../images/settings_white.svg);
}

.settings a:hover::before {
  background-image: url(../images/settings_white.svg);
}

.settings-mobile a:hover::before {
  background-image: url(../images/settings_black.svg);
}

.work_area .container {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -5px 6px 18px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 6px 18px -10px rgba(0, 0, 0, 0.75);
  position: relative;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  z-index: 555;
}

.footer span {
  font-size: 13px;
}

.bd-content {
  padding-bottom: 30px;
}

.hotels_select_item.tariff span {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.24;
  letter-spacing: normal;
  color: #000000;
}

.content {
  min-height: 1040px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: #f4f4f4;
  padding-top: 45px;
  -webkit-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.table-wrap {
  max-width: 1395px;
  width: 1395px;
}

.content::after {
  content: '';
  display: block;
  background: #f4f4f4;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.btn_small {
  display: inline-block;
  cursor: pointer;
  background: #480a73;
  text-decoration: none;
  outline: none;
  text-align: center;
  border-radius: 8px;
  font-size: 12px;
  line-height: 1em;
  font-weight: 500;
  letter-spacing: normal;
  text-align: left;
  padding: 14px 22px 15.2px 23.5px;
  color: #ffffff;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease;
}

.btn_small:hover {
  background: #5c148d;
}

.btn_small_gray {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  text-align: center;
  border: solid 1px #dedddd;
  border-radius: 8px;
  font-size: 13px;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  padding: 14px 22px 15.2px 23.5px;
  -webkit-transition: border .5s ease;
  -o-transition: border .5s ease;
  transition: border .5s ease;
}

.btn_small_gray:hover {
  border-color: #acacac;
  color: #000000;
}

.btn_big {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 19.4px 33px 19px 34px;
  font-size: 14px;
  line-height: 1em;
  font-weight: bold;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #480a73;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease;
}

.btn_big:hover {
  background: #5c148d;
}



.btn_big_gray.next {
  position: relative;
  padding-right: 55.5px;
}

.btn_big_gray.next::after {
  content: '';
  display: block;
  width: 6.5px;
  height: 11px;
  background-image: url(../images/chevron_right_gray.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  position: absolute;
  top: 20.5px;
  right: 21px;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease;
}

.btn_big_gray.next:hover::after {
  background-image: url(../images/chevron_right_black.svg);
}

.btn_big_gray:hover {
  border-color: #acacac;
  color: #000000;
}

.control_panel {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 46px;
}

.control_panel .btn_small {
  margin-right: 20px;
}

.tab_controls {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  border: solid 1px #dedddd;
  overflow: hidden;
  margin-right: 20px;
}

.main_tabs_control .item a {
  text-align: start;
  display: block;
  padding: 10px 0px 20px;
  border-bottom: 3px solid transparent;
  border-radius: 1.5px;
}

.main_tabs_control .item a {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.16;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-size: 17px;
  text-align: left;
}

.main_tabs_control a:hover {
  border-bottom: 3px solid #480a73;
}

.main_tabs_control .item:hover a {
  color: #000000;
}

.item.active a {
  color: #000000;
}

.input-table {
  position: relative;
}

.input-table .price_input {
  width: 80px;
  height: 24px;
  border-radius: 8px;
  border: solid 1px #dedddd;
  background-color: transparent;
}

.input-table .discount_input {
  width: 73.5px;
  height: 24px;
  border-radius: 8px;
  background-color: transparent;
  border: solid 1px #dedddd;
}

.discount_input {
  padding-left: 10px;
}

.price_input {
  padding-left: 10px;
}

td.fixate {
  line-height: 40px;
}

.input_wrapper.small.price::after {
  content: '₽';
  display: inline-block;
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  top: 8.5px;
  right: 12.5px;
  line-height: 1em;
}

.main_tabs_control .item.active a {
  border-bottom: 3px solid #480a73;
  border-radius: 1.5px;
}

.input-table.price::after {
  content: '₽';
  display: inline-block;
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  top: 12.5px;
  right: 34.5px;
  line-height: 1em;
}

.input-table.prices::after {
  content: '₽';
  display: inline-block;
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  top: 13.5px;
  right: 34.5px;
  line-height: 1em;
}

td.fixate {
  width: 170px;
}

.fixate-bottom-grey {
  background-color: #f4f4f4;
  width: 235px;
  height: 66px;
  line-height: 40px;
}

.table td,
.table th {
  border-bottom: 1px solid #dee2e6;
  border-top: 0 !important;
}

.input-table.discount::after {
  content: '%';
  display: inline-block;
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  top: 12.5px;
  right: 30.5px;
  line-height: 1em;
}

#dropdownMenuButton span {
  font-size: 13px;
}

.tab_controls .item {
  border-right: 1px solid #dedddd;
  font-size: 13px;
  padding: 13.2px 19.5px 14px 18.5px;
  line-height: 1em;
  font-weight: 500;
  background-color: #edecec;
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background .5s ease, color .5s ease, border .5s ease;
  -o-transition: background .5s ease, color .5s ease, border .5s ease;
  transition: background .5s ease, color .5s ease, border .5s ease;
  cursor: pointer;
}

.tab_controls .item:last-child {
  border-right: none;
}

.tab_controls .item.active {
  border-color: #f4f3f6;
  color: #000000;
  background: #f4f3f6;
}

.tab_controls .item:hover {
  color: #000000;
  background: #f4f3f6;
  border-color: #f4f3f6;
}

.search_field {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.search_field::after {
  content: '';
  display: block;
  width: 14px;
  height: 15.5px;
  background: url(../images/search_black.svg) no-repeat 50% 50%;
  background-size: contain;
  position: absolute;
  top: 14px;
  left: 18.5px;
}

.search_field input {
  display: block;
  width: 200px;
  font-size: 13px;
  line-height: 1em;
  font-weight: 500;
  color: #000;
  border-radius: 8px;
  border: solid 1px #dedddd;
  background-color: #f4f3f6;
  padding: 12.3px 15px 12.5px 42px;
  -webkit-transition: color .5s ease, border .5s ease;
  -o-transition: color .5s ease, border .5s ease;
  transition: color .5s ease, border .5s ease;
}

.search_field input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 1em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.search_field input::-moz-placeholder {
  font-size: 13px;
  line-height: 1em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.search_field input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 1em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.search_field input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 1em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.search_field input::placeholder {
  font-size: 13px;
  line-height: 1em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.search_field input:focus {
  border-color: #acacac;
}

.select_fields {
  margin-left: 19px;
  border-radius: 8px;
  border: solid 1px #dedddd;
  font-size: 13px;
  font-weight: 500;
  line-height: 1em;
  padding: 13.2px 21px 14px 48px;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
}

.control_panel .select_fields {
  margin-left: auto;
}

.select_fields::before {
  content: '';
  display: block;
  position: absolute;
  top: 13px;
  left: 13px;
  width: 15px;
  height: 15px;
  background: url(../images/fields.svg) no-repeat 50% 50%;
  background-size: contain;
}

.hotels_select_controls {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotels_select_controls .item {
  padding: 11.5px 18px 11.5px;
  background-color: #ffffff;
  border-left: 1px solid #ebe9e9;
}

.hotels_select_controls .item:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: none;
}

.hotels_select_controls .item:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.hotels_select_controls .item .title {
  font-size: 13px;
  font-weight: 500;
  color: #000;
  line-height: 1.2em;
  position: relative;
}

.hotels_select_controls .item .title::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 3px;
  background: url(../images/pointer_down.svg) no-repeat 50% 50%;
  background-size: contain;
  width: 8px;
  height: 11px;
}

.usual_select .jq-selectbox {
  width: 100%;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Gilroy", sans-serif;
  font-size: 12px;
  line-height: 1.1em;
  font-weight: 600;
  border-radius: 4px;
  background-color: #f4f4f4;
  cursor: pointer;
}

.usual_select .jq-selectbox__select-text {
  width: 100%;
  padding: 4px 18.5px 4.2px 8px;
}

.hotels_select_controls .jq-selectbox .jq-selectbox__select-text::after {
  content: '';
  display: block;
  width: 7.5px;
  height: 4.5px;
  background-image: url(../images/chevron_down_2.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  position: absolute;
  top: 8.5px;
  right: 8.5px;
  z-index: 1;
  -webkit-transition: transform .5s ease, background .5s ease;
  -webkit-transition: background .5s ease, -webkit-transform .5s ease;
  transition: background .5s ease, -webkit-transform .5s ease;
  -o-transition: transform .5s ease, background .5s ease;
  transition: transform .5s ease, background .5s ease;
  transition: transform .5s ease, background .5s ease, -webkit-transform .5s ease;
}

.hotels_select_controls .jq-selectbox.opened .jq-selectbox__select-text::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.usual_select .jq-selectbox__dropdown ul {
  margin: 0;
  padding: 0;
}

.usual_select .jq-selectbox.changed .jq-selectbox__select {
  color: #480a73;
}

.usual_select .jq-selectbox__dropdown ul li {
  padding-bottom: 4.2px;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.usual_select .jq-selectbox__select {
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.usual_select .jq-selectbox__dropdown ul li:hover,
.usual_select .jq-selectbox__select:hover {
  color: #480a73;
}

.usual_select .jq-selectbox__dropdown {
  padding: 4px 18.5px 4.2px 8px;
  width: 100%;
  left: 0;
  margin-top: -4px;
  background-color: #f4f4f4;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* .hotels_select_body {
  margin-bottom: 48px;
} */


.root:first-child {
  margin-top: 14px;
}

.hotels_select.alternate.hotels_rooms {
  overflow: auto;
}

.root > .hotels_select_item {
  border-top: 3px solid #d3d3d3;
}

.hotels_select_item .hotel_name {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hotels_select_item .accommodation {
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-right: 26.5px;
}

.btn-link {
  color: #333;
  text-decoration: none !important;
}

.hotels_select_item .delete_btn {
  position: relative;
  right: 28px;
  width: 29px;
  height: 29px;
  border-radius: 8px;
  background-image: url(../images/trash.svg);
  background-repeat: no-repeat;
  background-size: 16px 17px;
  background-color: #f4f4f4;
  background-position: 50% 50%;
  cursor: pointer;
  padding-left: 20px;
}

.hotels_select_item .author {
  color: rgba(0, 0, 0, 0.4);
}

.edit_link {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background: #fff;
  margin-right: 10px;
  padding-left: 46px;
}

.edit_link::before {
  background-image: url(../images/btn-edit.svg);
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  background-size: contain;
  top: 8px;
  left: 15px;
}

.hotels_select_item .status .jq-selectbox {
  cursor: pointer;
  width: 100%;
  max-width: 127px;
}

.hotels_select_item .status .jq-selectbox__select-text {
  padding: 6.8px 20px 7px 10.5px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2em;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.hotels_select_item .status .jq-selectbox.active .jq-selectbox__select-text,
.hotels_select_item .status .jq-selectbox.active .jq-selectbox__dropdown {
  background-color: #ac91d3;
}

.hotels_select_item .status .jq-selectbox.freeze .jq-selectbox__select-text,
.hotels_select_item .status .jq-selectbox.freeze .jq-selectbox__dropdown {
  background-color: #c0bdc5;
}

.hotels_select_item .status .jq-selectbox.filled .jq-selectbox__select-text,
.hotels_select_item .status .jq-selectbox.filled .jq-selectbox__dropdown {
  background-color: #84c29a;
}

.hotels_select_item .status .jq-selectbox::after {
  content: '';
  display: block;
  width: 7.5px;
  height: 4.5px;
  position: absolute;
  top: 12px;
  right: 9.5px;
  background: url(../images/chevron_white.svg) no-repeat 50% 50%;
  background-size: contain;
  -webkit-transition: transform .5s ease;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  z-index: 1;
}

.hotels_select_item .status .jq-selectbox.opened::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hotels_select_item .status .jq-selectbox__dropdown {
  left: 0;
  /* top: 0 !important; */
  margin-top: -8px;
  padding-top: 8px;
  width: 100% !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.hotels_select_item .status .jq-selectbox__dropdown ul {
  padding: 0;
  margin: 0;
}

.hotels_select_item .status .jq-selectbox__dropdown ul li {
  padding: 6.8px 7px 7px 10.5px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2em;
  color: #fff;
}

/* .hotels_select_item .status .jq-selectbox__dropdown ul li:first-child {
  margin-top: 0;
} */

.hotels_select.alternate .hotels_select_controls .item {
  background-color: #f4f4f4;
}

.hotels_select.alternate .usual_select .jq-selectbox,
.hotels_select.alternate .usual_select .jq-selectbox__dropdown {
  background: #ffffff;
}

.hotels_select.alternate .edit_link {
  background-color: #f4f4f4;
}

.pagination {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 48px;
}

.main_tabs_control.glider.draggable {
  padding-left: 0;
}

.pagination a {
  color: inherit;
  text-decoration: none;
}

.pagination a:hover {
  text-decoration: none !important;
}

.pagination a:hover {
  text-decoration: none !important;
  color: #fff;
}

.pagination ul li.active a:hover {
  color: #000;
}

.pagination ul li:hover a {
  color: #fff;
}

.pagination ul li.active:hover {
  background: #480a73;
  color: #000;
}

.pagination .btn_next:hover {
  text-decoration: none !important;
  color: #333;
}

.pagination ul li {
  font-size: 14px;
  color: #000;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  text-align: center;
  line-height: 35px;
  -webkit-transition: color .5s ease, background .5s ease;
  -o-transition: color .5s ease, background .5s ease;
  transition: color .5s ease, background .5s ease;
}

.pagination ul li:hover {
  background: #480a73;
}

.pagination ul li.active {
  margin-left: 0;
  width: 35px;
  background-color: #ffffff;
}

.btn_next {
  display: block;
  max-width: 86px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  background: transparent;
  padding: 8.5px 20.5px 8.5px 21.5px;
  border-radius: 8px;
  border: solid 1px #dedddd;
  -webkit-transition: border .5s ease;
  -o-transition: border .5s ease;
  transition: border .5s ease;
}

.btn_next:hover {
  border-color: #acacac;
}

.pagination .right {
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4);
}

.hotels_select .min {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 134px;
  flex: 0 0 134px;
  max-width: 134px;
}

.jq-selectbox select,
.jq-select-multiple select {
  z-index: -1;
}

.main_tabs_controls {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 33.5px;
}



.main_tabs_controls .item a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  -webkit-transition: color .5s ease, border .5s ease;
  -o-transition: color .5s ease, border .5s ease;
  transition: color .5s ease, border .5s ease;
}

.main_tabs_controls .item:hover {
  color: rgba(0, 0, 0, 0.6);
  border-color: #d2d2d2;
}

.main_tabs_controls .item a:hover {
  color: rgba(0, 0, 0, 0.6);
  border-color: #d2d2d2;
}

.main_tabs_controls .item:last-child {
  margin-right: 0;
}

.main_tabs_controls .item.active {
  color: #000000;
  border-color: #480a73;
}

.main_tabs_controls .item.active a {
  color: #000000;
}

.tab_group {
  padding: 35px 50px 35px 50px;
  background: #fff;
  margin-bottom: 5px;
}

.back_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.24;
  letter-spacing: normal;
  color: #480a73;
  height: 35px;
  border-radius: 8px;
  background-color: #f4f4f4;
  width: 101.5px;
  margin: 0px 10px 0px 0px;
}

.back_btn::before {
  content: '';
  background: url(../images/btn-arrows.svg) no-repeat;
  display: block;
  width: 7px;
  height: 12px;
  background-size: 7px;
  margin-right: 13px;
  margin-left: 4px;
}



.edit_btn::before {
  content: '';
  background: url(../images/btn-edit.svg) no-repeat;
  display: block;
  width: 17px;
  height: 17px;
  background-size: 16px;
  position: relative;
  top: -1px;
  left: 2px;
  right: 0;
  bottom: 0;
}

.title_tariff {
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.tab_group-control {
  padding: 38.5px 0px 32px 65px;
  background: #fff;
  margin-bottom: 5px;
}

.tab_group .title {
  text-align: center;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-top: 14.5px;
  margin-bottom: 7px;
}

.input_group {
  margin-bottom: 38.5px;
}

.input_group .row {
  margin-left: -20px;
  margin-right: -20px;
}

.input_group .row > div {
  padding: 0 20px;
}

.tab_group .input_group:last-child {
  margin-bottom: 0;
}

.input_title {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 7px;
  margin-top: 7px;
  /*padding-left: 17px;*/
  color: #000;
}

.filled .input_title {
  color: rgba(0, 0, 0, 0.5);
}

.focused .input_title {
  color: rgba(0, 0, 0, 0.5);
}

.focused input {
  border-color: #acacac;
}

.input_wrapper input {
  width: 100%;
  display: block;
  padding: 11.6px 17px;
  border-radius: 8px;
  border: solid 1px #dedddd;
  background: transparent;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: color .5s ease, border .5s ease;
  -o-transition: color .5s ease, border .5s ease;
  transition: color .5s ease, border .5s ease;
}

.input_wrapper.small input {
  font-size: 13px;
  font-weight: normal;
  padding: 3.3px 17.5px 3.5px 10.5px;
}

.input_wrapper.price {
  position: relative;
  width: 118.5px;
}

.input_group.mini {
  position: relative;
}

.price_input.middle {
  position: relative;
  width: 117.5px;
  height: 24px;
  border-radius: 8px;
  border: solid 1px #dedddd;
}

.input_group.price::after {
  content: '₽';
  display: inline-block;
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  top: 5.5px;
  right: 7.5px;
  line-height: 1em;
}

.input_wrapper input:focus {
  border-color: #acacac;
}

.input_wrapper .num_input::-webkit-input-placeholder {
  color: #000;
}

.input_wrapper .num_input::-moz-placeholder {
  color: #000;
}

.input_wrapper .num_input:-ms-input-placeholder {
  color: #000;
}

.input_wrapper .num_input::-ms-input-placeholder {
  color: #000;
}

.input_wrapper .num_input::placeholder {
  color: #000;
}

.main_select .jq-selectbox {
  width: 100%;
}

.main_select .jq-selectbox__select-text {
  border-radius: 8px;
  border: solid 1px #dedddd;
  font-size: 14px;
  padding: 8.8px 32px 8.8px 18.5px;
  position: relative;
  font-weight: bold;
  color: #480a73;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.main_select.small {
  height: 24px;
  min-width: 95px;
}

.main_select.small .jq-selectbox__select-text {
  font-size: 13px;
  line-height: 1.2em;
  padding: 3.3px 18.5px 3.5px 10.5px;
}

.main_select.middle.left .jq-selectbox__select-text {
  border-radius: 8px 0 0 8px;
  border: solid 1px #dedddd;
  font-size: 13px;
  font-weight: 500;
  padding: 5.8px 32px 5.8px 18.5px;
  position: relative;
  color: #16171b;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.main_select.middle.center .jq-selectbox__select-text {
  border-radius: 0px 0 0 0px;
  font-size: 13px;
  font-weight: 500;
  padding: 5.8px 32px 5.8px 18.5px;
  position: relative;
  color: #16171b;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.main_select.middle .jq-selectbox__select-text::after {
  content: '';
  width: 8px;
  height: 5.5px;
  display: block;
  background-image: url(../images/chevron_purple_down.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  position: absolute;
  top: 14px;
  right: 12.5px;
  -webkit-transition: background .5s ease, transform .5s ease;
  -webkit-transition: background .5s ease, -webkit-transform .5s ease;
  transition: background .5s ease, -webkit-transform .5s ease;
  -o-transition: background .5s ease, transform .5s ease;
  transition: background .5s ease, transform .5s ease;
  transition: background .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.main_select.mini .jq-selectbox__select-text::after {
  content: '';
  width: 8px;
  height: 5.5px;
  display: block;
  background-image: url(../images/chevron_purple_down.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  position: absolute;
  top: 11px;
  right: 12.5px;
  -webkit-transition: background .5s ease, transform .5s ease;
  -webkit-transition: background .5s ease, -webkit-transform .5s ease;
  transition: background .5s ease, -webkit-transform .5s ease;
  -o-transition: background .5s ease, transform .5s ease;
  transition: background .5s ease, transform .5s ease;
  transition: background .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.main_select.mini .jq-selectbox__select {
  width: 125px;
}



.block-option-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add_promo-btn {
  padding: 0px 15px;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.add_promo-btn {
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.92;
  letter-spacing: normal;
  color: #560d89;
}

.block-option-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
}

.main_select.middle .jq-selectbox__dropdown {
  width: 100%;
  padding: 1px 18.5px 0;
  margin-top: -1px;
  border-radius: 8px;
  border: solid 1px #acacac;
  border-top: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2em;
  color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #fff;
}

.block-option-title .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.block-option-title .hotels_select_item > div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.block-option-title .hotels_select_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0;
}

.main_select.middle.left .jq-selectbox__select {
  width: 77px;
}

.block-option-year span {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.24;
  letter-spacing: normal;
  color: rgba(22, 23, 27, 0.5);
  padding: 0 15px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: -6px;
}

.row.data-section {
  padding: 20px 0 25px 15px;
}

.trash-btn {
  width: 43.5px;
  height: 34px;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.trash {
  margin-left: 5px;
}

.add_promo-btn {
  margin-left: 30px;
}

.trash-btn:before {
  content: '';
  position: relative;
  left: 5px;
  display: block;
  background: url(../images/trash-grey.svg) no-repeat;
  width: 16px;
  height: 17px;
  background-size: contain;
}

.main_select.middle.center .jq-selectbox__select {
  width: 133px;
}

.main_select.middle.right .jq-selectbox__select {
  width: 88px;
}

.main_select.middle.right .jq-selectbox__select-text {
  border-radius: 0 8px 8px 0;
  border: solid 1px #dedddd;
  font-size: 13px;
  font-weight: 500;
  padding: 5.8px 32px 5.8px 18.5px;
  position: relative;
  color: #16171b;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.main_select.mini.right .jq-selectbox__select-text {
  border-radius: 0 8px 8px 0;
  border: solid 1px #dedddd;
  font-size: 13px;
  font-weight: 500;
  padding: 1px 32px 1px 12px;
  position: relative;
  color: #16171b;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.percent_input {
  width: 80px;
  height: 27px;
  border: solid 1px #dedddd;
  border-radius: 8px 0 0 8px;
  padding: 0 0 0 10px;
  font-size: 13px;
}

.small.left .jq-selectbox__select-text {
  border-right: none;
}

.block_percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input_group.mini .price_input {
  font-size: 13px;
  width: 80px;
  height: 24px;
  border-radius: 8px;
  border: solid 1px #dedddd;
}

.number_input {
  padding: 0 0 0 10px;
  font-size: 13px;
  width: 80px;
  height: 24px;
  border-radius: 8px;
  border: solid 1px #dedddd;
}

.input_group span {
  font-size: 13px;
}

.small.left .opened .jq-selectbox__select-text {
  border-right: 1px solid #acacac;
}

.small.left .jq-selectbox__select-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.small.right .jq-selectbox__select-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.main_select .jq-selectbox__select-text::after {
  content: '';
  width: 11px;
  height: 6.5px;
  display: block;
  background-image: url(../images/chevron_purple_down.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  position: absolute;
  top: 17px;
  right: 16.5px;
  -webkit-transition: background .5s ease, transform .5s ease;
  -webkit-transition: background .5s ease, -webkit-transform .5s ease;
  transition: background .5s ease, -webkit-transform .5s ease;
  -o-transition: background .5s ease, transform .5s ease;
  transition: background .5s ease, transform .5s ease;
  transition: background .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.main_select.small .jq-selectbox__select-text::after {
  width: 8px;
  height: 5.5px;
  top: 8px;
  right: 9.5px;
}

.main_select .jq-selectbox.opened .jq-selectbox__select-text::after {
  background-image: url(../images/chevron_gray_down.svg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.main_select .jq-selectbox.opened .jq-selectbox__select-text {
  color: rgba(0, 0, 0, 0.5);
  border-color: #acacac;
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.main_select .jq-selectbox__dropdown {
  width: 100%;
  padding: 1px 18.5px 0;
  margin-top: -1px;
  border-radius: 8px;
  border: solid 1px #acacac;
  border-top: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2em;
  color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #fff;
}

.main_select.small .jq-selectbox__dropdown {
  padding: 1px 10.5px 0;
}

.main_select.small.left .jq-selectbox__dropdown {
  border-bottom-right-radius: 0;
}

.main_select.small.right .jq-selectbox__dropdown {
  border-bottom-left-radius: 0;
}

.main_select .jq-selectbox__dropdown ul {
  margin: 0;
  padding: 0;
}

.main_select .jq-selectbox__dropdown ul li {
  border-top: 1px solid #dedddd;
  padding: 12.1px 0;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.main_select.small .jq-selectbox__dropdown ul li {
  padding: 3.3px 0 3.5px 0;
}

.main_select .jq-selectbox__dropdown ul li:hover {
  color: #480a73;
}

.star_select {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stars {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-right: 35px;
  padding-left: 35px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 42px;
  border: solid 1px #dedddd;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.stars .star {
  width: 22.5px;
  height: 22px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.stars .star.active {
  background-image: url(../images/star_active.svg);
}

.star_select .main_select {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 115px;
  flex: 0 0 115px;
}

.star_select .main_select .jq-selectbox__select-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tab_group .btn_big {
  margin-right: 10px;
}

.tab_group .left_links {
  text-align: left;
}

.tab_group .right_links {
  text-align: right;
}

.tab_group .right_links .btn_big {
  margin-left: 15px;
}

.tab_group .right_links .btn_big_gray {
  margin-left: 15px;
}

.hotel_info_popup {
  width: 100%;
  max-width: 900px;
  border-radius: 8px;
  -webkit-box-shadow: 8.3px 14.3px 64px 0 rgba(22, 23, 29, 0.3);
  box-shadow: 8.3px 14.3px 64px 0 rgba(22, 23, 29, 0.3);
  border: solid 13px #f4f4f4;
  background: #f4f4f4;
}

button.icon-add {
  width: 40px !important;
  height: 24px !important;
  min-width: 0 !important;
  border-radius: 4px;
  background-color: #ffffff;
  margin-left: 5px;
}

.main_tabs_control .item {
  width: auto !important;
  padding-left: 0;
}

.main_tabs_control .item.width {
  width: 200px !important;
}

button.icon-add.dark {
  background-color: #480a73;
}

.icon-add::before {
  content: '';
  position: relative;
  right: -5px;
  background: url(../images/add-plus.svg) no-repeat;
  display: block;
  height: 14px;
  width: 14px;
  background-size: 14px;
}

.icon-add.dark::before {
  content: '';
  position: relative;
  right: -5px;
  background: url(../images/add-plus-white.svg) no-repeat;
  display: block;
  height: 14px;
  width: 14px;
  background-size: contain;
}

.color-grey {
  background-color: #f4f4f4;
  width: 170px;
  height: 66px;
  line-height: 40px;
}

.table thead th {
  border-bottom: none !important;
}

.table thead th {
  border-bottom: none !important;
  border: 1px solid #5a128c;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #e7e5e5;
}

.popup_title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 35.5px;
}

.table-head {
  line-height: 34px;
  border-radius: 8px;
  background-color: #480a73;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.table-head span {
  color: #000;
  width: 30px;
  height: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background-color: #ffffff;
  margin: 0 10px;
}

.icon-trash::before {
  content: '';
  background: url(../images/trash-white.svg) no-repeat;
  display: block;
  width: 15px;
  height: 15px;
  background-size: contain;
  position: relative;
  top: 0;
  left: -3px;
}

button.icon-trash {
  position: relative;
  bottom: -3px;
  margin: 0 0 0 13px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #5c0e92;
}

.table-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table thead th {
  font-weight: normal;
}

.table td,
.table th {
  font-size: 13px;
}

th.fixate-top {
  width: 170px;
  height: 66px;
  line-height: 40px;
}

th.fixate-top-two {
  width: 185px;
  height: 66px;
  line-height: 40px;
}

td.fixate-two-grey {
  width: 295px;
  line-height: 40px;
  background-color: #f4f4f4;
}

.tab_group .btn.btn-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.card-header {
  border-radius: 8px;
}

.card {
  border: 0 !important;
}

.card-header:first-child {
  border-radius: 8px !important;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.bd-content {
  margin-left: 15.5rem;
}

.bd2-content {
  margin-left:  1rem;
}

/*.bd-content:last-child {
  margin-left: 1rem;
} */

.table-responsive {
  border-radius: 8px;
  margin-right: 25px;
}

td.fixate-two {
  line-height: 40px;
}

td.fixate-two {
  width: 295px;
}

th.fixate {
  width: 170px;
  height: 66px;
  line-height: 40px;
}

th.fixate-two {
  width: 295px;
  height: 66px;
  line-height: 40px;
}

th.fixate-two-grey {
  width: 295px;
  height: 66px;
  line-height: 40px;
  background-color: #f4f4f4;
}

th.fixate-bottom {
  width: 235px;
  height: 66px;
  line-height: 44px;
}

.checkbox_group {
  border-bottom: 1px solid #eeeded;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 21.5px 0 22.6px;
}

.checkbox_group.cust {
  padding: 20.5px 0 20.6px;
}

.checkbox_group .services {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.checkbox_group .checkbox_main {
  margin-right: 39px;
}

.select_group {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.select_group:last-child {
  margin-right: 0;
}

.select_group .checkbox_switch {
  margin-right: 10px;
}

.checkbox_main {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 38px;
  cursor: pointer;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.checkbox_switch {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  padding-left: 54.5px;
}

.checkbox_switch.reverse {
  padding-right: 47px;
  padding-left: 0;
}

.checkbox_main input[type="checkbox"],
.checkbox_switch input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  padding: 0;
  margin: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.checkbox_main::before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: 13.5px;
  background-position: 50% 50%;
  border: solid 1px #dedddd;
  -webkit-transition: background .5s ease, border .5s ease;
  -o-transition: background .5s ease, border .5s ease;
  transition: background .5s ease, border .5s ease;
}

.checkbox_main.active::before {
  border-color: #480a73;
  background-color: #480a73;
  background-image: url(../images/gal.svg);
}

.checkbox_main.active {
  color: #000000;
}

.popup_title + .checkbox_group,
.title + .checkbox_group {
  border-top: 1px solid #eeeded;
}

.checkbox_switch .switch_control {
  position: absolute;
  top: -4px;
  left: 0;
  width: 42.5px;
  height: 24px;
  border-radius: 12px;
  border: solid 1px #dedddd;
  cursor: pointer;
}

.checkbox_switch.reverse .switch_control {
  left: auto;
  right: 0;
}

.checkbox_switch.reverse .switch_control {
  top: -3px;
}

.checkbox_switch .switch_control .slider {
  position: absolute;
  top: -1px;
  bottom: 0;
  left: -1px;
  width: 26px;
  height: calc(100% + 2px);
  border-radius: 12px;
  -webkit-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
}

.checkbox_switch .switch_control .slider::after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  right: 4.5px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #c0c0c0;
}

.checkbox_switch.active {
  color: #000;
}

.checkbox_switch.active .switch_control .slider {
  width: calc(100% + 2px);
  background: #480a73;
}

.checkbox_switch.active .switch_control .slider::after {
  background-color: #fff;
}

.hotel_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: -30px;
}

.hotel_images .image_item,
.hotel_images .image_add {
  margin-bottom: 30px;
}

.image_add {
  text-align: center;
}

.hotel_images .image_item {
  line-height: 0;
  font-size: 0;
}

.hotel_images .delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-image: url(../images/delete.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 15.5px;
  background-color: rgba(22, 23, 27, 0.3);
  cursor: pointer;
}

.hotel_images .image_wr {
  display: -ms-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  max-width: 330px;
  height: 220px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.hotel_images .image_wr img {
  display: block;
  max-height: 100%;
  max-width: none;
}

.hotel_images .image_add {
  cursor: pointer;
  width: 370px;
  height: 220px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  background-image: url(../images/rect_add.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-origin: content-box;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease;
}

.hotel_images .image_add input[type="file"] {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  background: transparent;
  border: none;
  color: transparent;
  font-size: 0;
  line-height: 0;
  outline: none;
}

.hotel_images .image_add:hover {
  background-image: url(../images/rect_add_active.svg);
}

.hotel_images .image_add .desc {
  padding-top: 51.5px;
  background: url(../images/img_add.svg) no-repeat 50% 0;
  background-size: 32px 30px;
}

.bottom_btns {
  padding: 40px 0 0 15px;
}

button {
  border: none;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

.top_buttons {
  margin-bottom: 38px;
}

.top_buttons .btn_small {
  margin-right: 15px;
}

.hotels_select_item .status_big .jq-selectbox {
  max-width: 166px;
}

.untext {
  padding-left: 0;
  height: 24px;
}

.untext .switch_control {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.status_big {
  height: 29px;
}

.tab_group:first-of-type {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.tab_group:last-of-type {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.colored_top {
  margin-left: 1rem;
  padding: 17.5px 18px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #efefef;
}

.btn_more {
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: #560d89;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1em;
  padding: 12px 15.5px 11px 35px;
  position: relative;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease;
}

.btn_more::after {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 6.5px;
  height: 11px;
  background: url(../images/chevron_left_small.svg) no-repeat 50% 50%;
  background-size: contain;
}

.colored_top .breads {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 25px;
}

.inner_conrols {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 18.5px 0 19px 0;
  border-bottom: 1px solid #eeeded;
}

.inner_conrols .item a {
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

.inner_conrols .item.active a {
  color: #fff;
  font-weight: bold;
}

.inner_conrols_wr {
  padding: 0 50px;
  background: #fff;
}

.inner_conrols_wr .owl-carousel .owl-item {
  width: auto !important;
}

.inner_conrols .item {
  cursor: pointer;
  text-decoration: none;
  border-radius: 8px;
  background-color: #f4f4f4;
  font-size: 13px;
  line-height: 1.2em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 11.9px 20px 12.9px;
  -webkit-transition: color .5s ease, background .5s ease;
  -o-transition: color .5s ease, background .5s ease;
  transition: color .5s ease, background .5s ease;
  margin-right: 9px;
}

.inner_conrols .item.active {
  background-color: #480a73;
  color: #fff;
}

.inner_conrols .item:last-child {
  margin-right: 0;
}

.checkbox_group.bordered {
  border-top: 1px solid #eeeded;
}

.tab_group.unradius {
  border-radius: 0;
}

.checkbox_text {
  margin-right: 13px;
}

.input_wrapper textarea,
.textarea_main {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: solid 1px #dedddd;
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  color: #000;
  padding: 11.1px 17px;
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}

.checkbox_group_left,
.checkbox_group_right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.checkbox_group_right {
  text-align: right;
}

.checkbox_group_left {
  padding-right: 15px;
}

.bordered_2 > div:nth-child(1) .checkbox_group {
  border-top: 1px solid #eeeded;
}

.bordered_2 > div:nth-child(2) .checkbox_group {
  border-top: 1px solid #eeeded;
}

.bordered_3 > div:nth-child(1) .checkbox_group {
  border-top: 1px solid #eeeded;
}

.bordered_3 > div:nth-child(2) .checkbox_group {
  border-top: 1px solid #eeeded;
}

.bordered_3 > div:nth-child(3) .checkbox_group {
  border-top: 1px solid #eeeded;
}

.comfort_room .checkbox_group {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.comfort_room .checkbox_main {
  margin-right: 0;
}

.comfort_left {
  padding-right: 5px;
}

.comfort_room .input_wrapper.price {
  width: 80px;
}

.top_btns {
  border-top: 1px solid #eeeded;
  padding-top: 19.5px;
  margin-bottom: 39px;
}

.quantity_checkbox_wr {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quantity_input {
  padding: 10.8px 17px 8.8px;
  height: 47px;
  line-height: 32px;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #f4f4f4;
}

.quantity_checkbox_wr .checkbox_switch .switch_control {
  top: -2px;
}

.quantity_input b {
  display: inline-block;
  max-width: 76.5px;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input_group .col-cust:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36.14%;
  flex: 0 0 36.14%;
  max-width: 36.14%;
}

.input_group .col-cust {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31.93%;
  flex: 0 0 31.93%;
  max-width: 31.93%;
}

.quantity_checkbox_wr .input_wrapper input {
  background: #fff;
}

.quantity_checkbox_wr .left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 54.7%;
  flex: 0 0 54.7%;
  max-width: 54.7%;
}

.quantity_checkbox_wr .right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 45.3%;
  flex: 0 0 45.3%;
  max-width: 45.3%;
}

.quantity_checkbox_wr .right .input_wrapper {
  background-color: #f4f4f4;
}

.top_controls {
  margin-bottom: 33px;
}

.hotels_select_item .validity {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.hotels_select_body .root:last-child .hotels_select_item:last-child {
  border-bottom: 1px solid #e7e5e5;
}

.hotels_select_item .validity .from {
  position: relative;
  padding-right: 32px;
}

.hotels_select_item .validity .from::after {
  content: '';
  position: absolute;
  top: 1.5px;
  right: -10.5px;
  display: block;
  width: 11px;
  height: 7.5px;
}

.hotels_select_item .validity .to {
  font-weight: 700;
}

.hotels_select_body .child .hotel_name {
  font-weight: 400;
}

.hotels_select_body .child .hotels_select_item:last-child {
  border-bottom: none;
}

.hotels_select_body .child .child_name {
  padding-left: 29.5px;
  position: relative;
}

.hotels_select_body .child .child_name::before {
  content: '';
  width: 17px;
  height: 17px;
  display: block;
  position: absolute;
  background: url(../images/child_pointer.svg) no-repeat 50% 50%;
  background-size: contain;
  left: 0;
  top: 2.5px;
}

.btn_more_gray {
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 13px;
  line-height: 1.2em;
  padding: 10.9px 16.5px 10.9px 33.5px;
  border-radius: 8px;
  background-color: #f4f4f4;
  font-weight: 500;
  color: #480a73;
  position: relative;
  margin-right: 8.5px;
}

.btn_more_gray::before {
  content: '';
  display: block;
  width: 6.5px;
  height: 11px;
  position: absolute;
  top: 12px;
  left: 12px;
  background: url(../images/chevron_left_purple.svg) no-repeat 50% 50%;
  background-size: contain;
}

.edit_link_single {
  display: inline-block;
  margin-right: 21px;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background-color: #f4f4f4;
}

.top_btns_wrapp {
  padding: 33px 50px;
}

.container.top {
  position: relative;
  padding-top: 76px;
  background-color: #f4f4f4;
}

.navbar-collapse .main_menu li {
  color: #ab66d9;
}

.navbar-collapse .main_menu li:hover {
  color: #333;
  background-color: #fff;
}

.navbar-collapse .main_menu ul li a:hover::before {
  background-color: #480a7300;
}

.navbar-collapse .main_menu li {
  display: block;
  height: 50px;
  line-height: 50px;
  border-radius: 8px;
  cursor: pointer;
}

.navbar-collapse .main_menu ul li a {
  width: 100%;
}

.navbar-collapse .main_menu {
  padding-right: 0;
}

.navbar-collapse .main_menu ul li {
  margin-bottom: 20px;
}

.navbar-collapse .main_menu ul li a::before {
  top: 7px;
}

.offcanvas-collapse {
  position: fixed;
  top: 76px;
  bottom: 0;
  left: auto;
  width: 220px;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: visible;
  background-color: #fff;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: left, visibility;
  -o-transition-property: left, visibility;
  transition-property: left, visibility;
  z-index: 1;
  -webkit-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  -webkit-box-shadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);
  box-shadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);
  overflow-x: hidden;
  margin-left: -1rem;
}

.offcanvas-collapse {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.offcanvas-collapse.open {
  visibility: visible;
  width: 246px;
  -webkit-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.navbar-expand-lg .navbar-nav {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: relative;
  width: 40px;
  z-index: 9999;
}

.toggle-menu span {
  background-color: #fff;
  content: "";
  display: block;
  height: 3px;
  border-radius: 50px;
  left: calc(50% - 1px);
  position: absolute;
  top: calc(50% - 3px);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  -webkit-transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  -webkit-transform 0.2s linear;
  -o-transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear, -webkit-transform 0.2s linear;
  width: 18px;
}

.toggle-menu span::before,
.toggle-menu span::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 3px;
  border-radius: 50px;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  -webkit-transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  -webkit-transform 0.2s linear;
  -o-transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear, -webkit-transform 0.2s linear;
  width: 25px;
}

.toggle-menu span::before {
  top: -7px;
}

.toggle-menu span::after {
  top: 7px;
}

.toggle-menu.active span {
  background-color: transparent;
  -webkit-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.toggle-menu.active span::before,
.toggle-menu.active span::after {
  -webkit-transition: top 0.2s ease-out, -webkit-transform 0.2s 0.2s ease-out;
  transition: top 0.2s ease-out, -webkit-transform 0.2s 0.2s ease-out;
  -o-transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out, -webkit-transform 0.2s 0.2s ease-out;
}

.toggle-menu.active span:before {
  top: 0;
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.toggle-menu.active span:after {
  top: 0;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}

.jq-selectbox__select-text.placeholder {
  width: 100% !important;
}

.switch-btn {
  display: inline-block;
  width: 40px;
  height: 21px;
  border-radius: 19px;
  background: #bfbfbf;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

.switch-btn::after {
  content: "";
  height: 17px;
  width: 17px;
  border-radius: 17px;
  background: #fff;
  top: 2px;
  left: 3px;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: #118c4e;
}

.switch-on::after {
  left: 19px;
}

.color-dark {
  background-color: #560a8b;
}

.dark {
  background-color: #560a8b;
  -webkit-box-shadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);
  box-shadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);
}

.dark-left::before {
  content: '';
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: #480a73;
}

.dark ul li a {
  color: #fff;
}

.color-white {
  color: #fff !important;
}

.ml-menu {
  margin-left: 450px;
}

.slide-menu {
  -webkit-transform: translatex(170px);
  -ms-transform: translatex(170px);
  transform: translatex(170px);
}

#menu-1.active {
  -webkit-transform: translatex(0%);
  -ms-transform: translatex(0%);
  transform: translatex(0%);
}

.wrap-content {
  margin-left: 14.9rem;
  width: 1170px;
  background-color: #f4f4f4;
}

#upload-image {
  width: 32px;
  padding-bottom: 15px;
}

button:focus {
  outline: 0 !important;
  outline: 0 !important;
}

.main_menu.accordion.desk ul li {
  font-size: 13px;
}

#toggle_button {
  background-color: #118c4e;
  border-radius: 50px;
  display: inline-block;
  width: 35px;
  height: 21px;
}

#checkbox_btn {
  display: none;
}

#toggle_button label {
  position: relative;
  display: block;
  height: 100%;
  background-color: #118c4e;
  border-radius: 50px;
  overflow: hidden;
}

#toggle_button label::before,
#toggle_button label::after {
  content: '';
  position: absolute;
  top: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

#toggle_button label::before {
  left: -17px;
  background-color: #bfbfbf;
  z-index: 1;
}

#toggle_button label::after {
  left: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s ease left;
  -o-transition: 0.4s ease left;
  transition: 0.4s ease left;
}

#checkbox_btn:checked + label {
  background-color: #bfbfbf;
}

#checkbox_btn:checked + label::after {
  left: 15px;
}

#checkbox_btn:checked + label::before {
  top: -1px;
  left: 10px;
}

.navbar-toggler {
  display: none;
}

@media (min-width: 500px) {
  .container {
    max-width: 1500px !important;
  }
}

@media (max-width: 1300px) {
  .table-overflow {
    overflow-x: scroll;
    max-width: 1140px;
  }
}

@media (max-width: 1250px) {
  .lang_select,
  .header .search {
    margin-left: 10px !important;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
}

@media (max-width: 991px) {
  .edit_btn-wrap {
    position: absolute;
    right: 15px;
  }

  .table-responsive {
    margin-right: 0 !important;
  }

  .content {
    padding: 20px 10px 20px 10px !important;
  }

  .row.data-section {
    padding: 20px 15px 25px 15px;
  }

  .back_btn {
    margin: 0px 20px 0px 0px;
  }

  .title_tariff {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .back_btn span {
    display: none;
  }

  .edit_btn {
    margin: 0;
  }

  .back_btn {
    height: 40px;
    width: 35px;
  }

  .back_btn::before {
    margin-right: 0px;
  }

  .tab_group-control {
    padding: 35px 0 0 15px;
  }

  .bd-content {
    margin-left: 0 !important;
  }

  .content.bg-s {
    background-color: #f4f4f4 !important;
  }

  .header .left {
    padding-left: 30px !important;
  }

  .navbar-toggler {
    display: block;
  }

  .hotels_select_item {
    border: none;
  }

  .inner_conrols_wr {
    padding: 0 !important;
  }

  .person_links::before {
    margin-right: 0 !important;
  }

  .btn-secondary:not(:disabled):not(.disabled).active,
  .btn-secondary:not(:disabled):not(.disabled):active,
  .show > .btn-secondary.dropdown-toggle {
    background-color: transparent !important;
  }

  .header .container {
    padding: 0;
  }

  .dropdown-toggle::after {
    margin-left: 0;
  }

  .page_title-mobile {
    padding: 20px 0px 20px 25px !important;
    background-color: #f5f5f5;
  }

  .container.top {
    background-color: #fff;
  }

  .wrap-content {
    background-color: #fff;
    margin-left: 0 !important;
  }

  .content {
    background-color: #fff;
  }

  .main_tabs_controls .item {
    width: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
  }

  .slide-tabs {
    height: 35px;
  }

  .main_menu ul li a::before {
    width: 100%;
    background-position: 10% 50% !important;
  }

  .hotels_select.alternate.sleeping_places,
  .hotels_select.alternate.hotels_rooms {
    overflow-x: scroll;
    max-width: 900px;
  }

  .table-overflow {
    max-width: 900px !important;
  }

  .person_links span {
    display: none;
  }

  .main_menu.accordion ul li {
    color: #9866d9;
    font-size: 12px;
    padding-left: 60px !important;
  }

  .main_menu.accordion {
    margin-left: 20px;
  }

  .wrap-content {
    padding-left: 0 !important;
  }

  .slide-menu {
    -webkit-transform: translatex(0px) !important;
    -ms-transform: translatex(0px) !important;
    transform: translatex(0px) !important;
  }

  .tab_group {
    padding: 35px 0 35px 0;
  }

  .hotel_info_popup .tab_group {
  padding: 35px 50px 35px 50px;
  }

  .main_menu ul li a {
    color: #ab66d9 !important;
  }

  .offcanvas-collapse .main_menu ul li {
    margin-bottom: 20px;
  }

  .main_menu ul li a:hover::before {
    background-color: #fff0 !important;
  }

  .main_menu ul li a {
    width: 100%;
  }

  .main_menu {
    padding-right: 0 !important;
  }

  .offcanvas-collapse {
    -webkit-transform: translateX(-320px);
    -ms-transform: translateX(-320px);
    transform: translateX(-320px);
    width: 300px !important;
    left: 0 !important;
    background-color: #560a8b !important;
  }

  .dash a::before {
    visibility: hidden;
  }

  .offcanvas-collapse .dash a:hover::before {
    background-image: url(../images/dash_black.svg);
    visibility: visible;
  }

  .offcanvas-collapse .dash a::before {
    background-image: url(../images/dash_white.svg);
    visibility: visible;
  }

  .hotels a::before {
    visibility: hidden;
  }

  .offcanvas-collapse .hotels a::before {
    background-image: url(../images/hotel_white.svg);
    visibility: visible;
  }

  .offcanvas-collapse .hotels a:hover::before {
    background-image: url(../images/hotel_black.svg);
    visibility: visible;
  }

  .yurface a::before {
    visibility: hidden;
  }

  .offcanvas-collapse .yurface a::before {
    background-image: url(../images/yur_white.svg);
    visibility: visible;
  }

  .offcanvas-collapse .yurface a:hover::before {
    background-image: url(../images/yur_black.svg);
    visibility: visible;
  }

  .control a::before {
    visibility: hidden;
  }

  .offcanvas-collapse .control a::before {
    background-image: url(../images/control_white.svg);
    visibility: visible;
  }

  .offcanvas-collapse .control a:hover::before {
    background-image: url(../images/control_black.svg);
    visibility: visible;
  }

  .users a::before {
    visibility: hidden;
  }

  .offcanvas-collapse .users a::before {
    background-image: url(../images/users_white.svg);
    visibility: visible;
  }

  .offcanvas-collapse .users a:hover::before {
    background-image: url(../images/users_black.svg);
    visibility: visible;
  }

  .transfer a::before {
    visibility: hidden;
  }

  .offcanvas-collapse .transfer a::before {
    background-image: url(../images/transfer_white.svg);
    visibility: visible;
  }

  .offcanvas-collapse .transfer a:hover::before {
    background-image: url(../images/transfer_black.svg);
    visibility: visible;
  }

  .auto a::before {
    visibility: hidden;
  }

  .offcanvas-collapse .auto a::before {
    background-image: url(../images/auto_white.svg);
    visibility: visible;
  }

  .offcanvas-collapse .auto a:hover::before {
    background-image: url(../images/auto_black.svg);
    visibility: visible;
  }

  .excursion a::before {
    visibility: hidden;
  }

  .offcanvas-collapse .excursion a::before {
    background-image: url(../images/ex_white.svg);
    visibility: visible;
  }

  .offcanvas-collapse .excursion a:hover::before {
    background-image: url(../images/ex_black.svg);
    visibility: visible;
  }

  .config a::before {
    visibility: hidden;
  }

  .offcanvas-collapse .config a::before {
    background-image: url(../images/config_white.svg);
    visibility: visible;
  }

  .offcanvas-collapse .config a:hover::before {
    background-image: url(../images/config_black.svg);
    visibility: visible;
  }

  .settings a::before {
    visibility: hidden;
  }

  .offcanvas-collapse .settings a::before {
    background-image: url(../images/settings_white.svg);
    visibility: visible;
  }

  .offcanvas-collapse .main_menu li {
    display: block;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    cursor: pointer;
  }

  .offcanvas-collapse .main_menu ul li a::before {
    top: 7px;
  }

  .offcanvas-collapse .main_menu li:hover {
    color: #333 !important;
    background-color: #fff;
  }

  .offcanvas-collapse.open {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

  .header .search {
    display: none !important;
  }

  .header .right {
    padding-right: 0 !important;
  }

  .work_area {
    margin: 0px !important;
  }

  .links_user {
    display: none;
  }

  .page_title-mobile {
    display: block !important;
    line-height: 28px !important;
    font-size: 21px !important;
  }

  .lang_select {
    display: none !important;
  }

  .logo-title {
    display: none !important;
  }

  .header .left {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header .right {
    -webkit-box-flex: 0 !important;
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }

  .toggle-menu {
    display: block !important;
  }

  .work_area .main_menu {
    display: none !important;
  }

  .container.top {
    padding: 0 !important;
  }
}

@media (max-width: 899px) {
  .inner_conrols {
    padding: 18.5px 0 0px 0;
  }
}

@media (max-width: 826px) {
  .search_field {
    position: relative;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 237px !important;
    flex: 0 0 237px !important;
    max-width: 237px !important;
  }
}

@media (max-width: 767px) {
  .btn_big_gray.next {
    margin: 0;
  }

  .tab_group .right_links .btn_big_gray {
    margin-left: 0px !important;
  }

  .tab_group .btn_big_gray {
    margin-right: 0px !important;
  }

  .input_title {
    padding-left: 10px !important;
  }

  .search {
    display: none !important;
  }

  .header .right {
    padding-right: 0px !important;
  }

  .header .right::before {
    background: #480a73 !important;
  }
}

@media (max-width: 575px) {
  .add_promo-btn {
    margin-left: 0;
    margin-top: 15px;
  }

  .trash-btn {
    margin-top: 15px;
  }

  .comfort_left {
    width: 235px;
  }

  .btn_big_gray {
    padding: 19px 35px !important;
  }

  .sleeping_places .left .edit_link::before {
    margin-left: 0px !important;
  }

  .btn_big_gray.next {
    width: 100%;
  }
}

@media (max-width: 505px) {
  .comfort_right {
    padding-top: 10px;
  }

  .colored_top .btn_more span {
    display: none;
  }

  .colored_top {
    padding: 0px !important;
    height: 58px;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }

  .colored_top .breads {
    margin-left: 13px !important;
    font-size: 17px !important;
  }

  .btn_more::after {
    top: 20px !important;
    left: 10px !important;
    width: 9.5px !important;
    height: 18px !important;
  }

  .btn_more {
    height: 100%;
    padding: 15px !important;
  }
}

@media (max-width: 440px) {
  .pagination ul {
    margin: 0;
  }

  .hotels_select_item .validity .from {
    padding-right: 10px;
    font-size: 11px;
  }

  .hotels_select_item .validity .to {
    font-size: 11px;
  }

  .hotels_select_item .hotel_name,
  .hotels_select_item > div {
    font-size: 11px;
  }

  .btn_big_gray,
  .btn_big {
    font-size: 12px;
  }

  .checkbox_switch {
    font-size: 12px;
  }

  .hotels_select_item .status .jq-selectbox__select-text {
    font-size: 11px;
  }

  .btn_small {
    font-size: 11px;
    padding: 14px 10px 15.2px;
  }

  .checkbox_switch.reverse {
    padding-right: 50px !important;
  }

  .tab_group .title {
    font-size: 16px;
  }

  .main_select.small .jq-selectbox__select-text {
    font-size: 12px;
  }

  .main_select.small .jq-selectbox__dropdown ul li {
    font-size: 12px;
  }

  .input_wrapper.small input {
    font-size: 11px;
  }

  .checkbox_main {
    font-size: 12px;
  }

  .btn_small_gray {
    font-size: 11px;
    padding: 14px 10px 15.2px;
  }

  .hotels_select_controls .item .title {
    font-size: 11px;
  }

  .select_group .checkbox_switch {
    margin-right: 5px !important;
  }

  .main_select.small {
    min-width: auto !important;
  }

  .main_select.small .jq-selectbox__select-text::after {
    right: 3.5px !important;
  }
}

@media (max-width: 383px) {
  .control_panel .select_fields {
    margin-left: 0 !important;
  }
}


/*  style 10.06.2020 */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-bottom: 3px solid #480a73;
	border-radius: 1.5px;
	border-color: #480a73 !important;
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}

.glider-contain {
  width: 100%;
  overflow-x: auto;
}

.main_tabs_control.nav.nav-tabs {
  width: 800px;
  overflow-y: hidden;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: none!important;
}

.main_tabs_control .item {
	margin-right: 50px;
}

.nav-tabs .nav-link {
	border-top: 0!important;
	border-left: 0!important;
	border-right: 0!important;
}


.table-responsive::-webkit-scrollbar-thumb {
  width: 3px;
  border: 3.5px solid #f4f4f4;
  border-top: 5px solid #f4f4f4;
  border-bottom: 5px solid #f4f4f4;
  background-color: #c8c8c8;
}

.table-responsive::-webkit-scrollbar {
  background-color: #f4f4f4;
  padding: 10px 3.5px;
  width: 10px;
}

.glider-contain::-webkit-scrollbar-thumb {
  width: 3px;
  border: 3.5px solid #f4f4f4;
  border-top: 5px solid #f4f4f4;
  border-bottom: 5px solid #f4f4f4;
  background-color: #c8c8c8;
}

.glider-contain::-webkit-scrollbar {
  background-color: #f4f4f4;
  padding: 10px 3.5px;
  width: 10px;
}



.main_tabs_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  padding: 0 0 0px 7px;
}


.glider-contain {
  border-bottom: 1px solid #ececec;
}


.jq-selectbox__dropdown ul {
  max-height: 100% !important;
}

.main_select.middle .jq-selectbox__dropdown  {
  top: auto !important;
}




.inner_conrols-btn {
  padding: 20px 0 20px 0;
}

.inner_conrols-btn .btn-group {
  margin-right: 15px;
}

.services_select .jq-selectbox {
  width: 100%;
}

.services_select .jq-selectbox__select-text {
  border-radius: 8px;
  border: solid 1px #dedddd;
  font-size: 14px;
  padding: 3.3px 32.5px 3.5px 18.5px;
  position: relative;
  font-weight: bold;
  color: #480a73;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}


.services_select .jq-selectbox__select-text::after{
  content: '';
  width: 8px;
  height: 5.5px;
  display: block;
  background-image: url(../images/chevron_purple_down.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  position: absolute;
  top: 12px;
  right: 12.5px;
  -webkit-transition: background .5s ease, transform .5s ease;
  -webkit-transition: background .5s ease, -webkit-transform .5s ease;
  transition: background .5s ease, -webkit-transform .5s ease;
  -o-transition: background .5s ease, transform .5s ease;
  transition: background .5s ease, transform .5s ease;
  transition: background .5s ease, transform .5s ease, -webkit-transform .5s ease;
}



.services_select .jq-selectbox__dropdown::-webkit-scrollbar {
  width: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.services_select  .jq-selectbox__dropdown::-webkit-scrollbar-thumb {
  background: #fff;
}


.services_select .jq-selectbox.opened .jq-selectbox__select-text::after {
  background-image: url(../images/chevron_gray_down.svg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.services_select .jq-selectbox.opened .jq-selectbox__select-text {
  color: rgba(0, 0, 0, 0.5);
  border-color: #acacac;
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.services_select .jq-selectbox__dropdown {
  width: 100%;
  padding: 1px 18.5px 0;
  margin-top: -1px;
  border-radius: 8px;
  border: solid 1px #acacac;
  border-top: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2em;
  color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #fff;
  top: auto!important;
}


.services_select .jq-selectbox__dropdown ul {
  margin: 0;
  padding: 0;
}

.services_select .jq-selectbox__dropdown ul li{
  border-top: 1px solid #dedddd;
  padding: 12.1px 0;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.services_select .jq-selectbox__dropdown ul li:hover
 {
  color: #480a73;
}


.nav-tabs {
	border-bottom: 0!important;
}

.image_add-file {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.main_tabs_controls .item {
  cursor: pointer;
  font-size: 18px;
  line-height: 1em;
  font-weight: 500;
  padding-bottom: 19.5px;
  color: rgba(0, 0, 0, 0.4);
  border-radius: 1.5px;
  border-bottom: 3px solid #e3e3e3;
  margin-right: 5px;
  padding-right: 26px;
  margin-bottom: 15px;
  padding-left: 0;
  -webkit-transition: color .5s ease, border .5s ease;
  -o-transition: color .5s ease, border .5s ease;
  transition: color .5s ease, border .5s ease;
}

.btn_big_gray {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  border: solid 1px #dedddd;
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
  text-align: left;
  background: transparent;
  outline: none;
  padding: 18.4px 36px 18px 34px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: border .5s ease, color .5s ease;
  -o-transition: border .5s ease, color .5s ease;
  transition: border .5s ease, color .5s ease;
}

.btn_big_gray-cancel {
  max-width: 232px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  border: solid 1px #dedddd;
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
  text-align: left;
  background: transparent;
  outline: none;
  padding: 18.4px 36px 18px 34px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: border .5s ease, color .5s ease;
  -o-transition: border .5s ease, color .5s ease;
  transition: border .5s ease, color .5s ease;
}
@media (max-width: 575px) {
  .tab_group .right_links {
    text-align: left;
  }
}

@media (max-width: 422px) {
  .btn_next {
    margin-top: 10px;
  }
}

@media (max-width: 420px) {
  .comfort_room.bordered_2 .option_input {
    width: 100%;
  }

  .comfort_room .select_group {
    margin-top: 10px;
  }

  .comfort_room.bordered_2 .block_percent {
    margin-top: 10px;
  }
}
@media (max-width: 692px ) {
  .main_select.mini.right .jq-selectbox__select-text {
    padding: 2px 32px 1px 12px;
  }
}

@media (max-width:575px) {
  .inner_tab_body .hotels_select_item {
    justify-content: start;
    margin-top: 10px;
  }
}



.main_select.mini .jq-selectbox__dropdown {
top: auto!important;
}


.hotels_select_item {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  border-bottom: 1px solid #f4f4f4;
  padding: 17px 0 17px;

}


.hotels_select_item > div {
  display: flex;
  align-items: center;
  padding: 0 18px;
  font-size: 13px;
  font-weight: 500;
  color: #000000;
  margin-right: -2px;
}


.hotels_select_body.bg-s .hotels_select_item {
  border-bottom: 1px solid #e1e1e1;
}

.pagination ul {
  display: inline-flex;
  font-size: 0;
  margin: 0 41.5px 0 0;
  font-size: 0;
  padding-left: 0;
}


.pagination {
  padding-bottom: 10px;
}


.header-arrows::after {
  content: '';
  width: 16px;
  cursor: pointer;
  height: 8.5px;
  display: block;
  background-image: url(../images/chevron_purple_down.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  position: absolute;
  top: 31px;
  right: 25.5px;
  -webkit-transition: background .5s ease, transform .5s ease;
  -webkit-transition: background .5s ease, -webkit-transform .5s ease;
  transition: background .5s ease, -webkit-transform .5s ease;
  -o-transition: background .5s ease, transform .5s ease;
  transition: background .5s ease, transform .5s ease;
  transition: background .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.header-arrow .active::after {
  background-image: url(../images/chevron_gray_down.svg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dark-left .main_menu ul li a:hover::before {
  background-color: #fff;
}


.dark-left .dark .dash a:hover::before {
	background-image: url(../images/dash_black.svg);
}


.dark-left .dark .hotels a:hover::before {
	background-image: url(../images/hotel_black.svg);
}

.dark-left .dark .yurface a:hover::before {
	background-image: url(../images/yur_black.svg);
}

.dark-left .dark .control a:hover::before {
	background-image: url(../images/control_black.svg);
}

.dark-left .dark .users a:hover::before {
	background-image: url(../images/users_black.svg);
}

.dark-left .dark .transfer a:hover::before {
	background-image: url(../images/transfer_black.svg);
}

.dark-left .dark .auto a:hover::before {
	background-image: url(../images/auto_black.svg);
}

.dark-left .dark .excursion a:hover::before {
	background-image: url(../images/ex_black.svg);
}

.dark-left .dark .config a:hover::before {
	background-image: url(../images/config_black.svg);
}

.dark-left .dark .settings a:hover::before {
	background-image: url(../images/settings_black.svg);
}

@media (max-width: 440px) {
  .accommodation.growed.bb {
    font-size: 11px;
  }
}

@media (max-width: 575px) {
  .hotels_select_item .delete_btn {
    right: 0;
  }
}


@media (max-width: 840px) {
  .hotels_select_item .delete_btn {
    margin-left: 5px;
  }
}


.hotels_select_item .status_big .jq-selectbox {
margin-right: 20px;
}


@media (max-width:  991px) {
  .main_tabs_controls .item a {
    cursor: pointer;
    font-size: 18px;
    line-height: 1em;
    font-weight: 500;
    padding-bottom: 19.5px;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 1.5px;
    border-bottom: 3px solid #e3e3e3;
    margin-right: 5px;
    padding-right: 26px;
    margin-bottom: 15px;
    padding-left: 0;
    -webkit-transition: color .5s ease, border .5s ease;
    -o-transition: color .5s ease, border .5s ease;
    transition: color .5s ease, border .5s ease;
  }

  .main_tabs_controls .item {
    cursor: pointer;
    font-size: 18px;
    line-height: 1em;
    font-weight: 500;
    padding-bottom: 0;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    border-bottom: 0;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-left: 0;

  }

  .main_tabs_controls .item.active a {
    color: #000000;
    border-color: #480a73;
  }
}

.dark-left .main_menu ul li {
  color: #9866d9;
  font-size: 13px;
  }


  .main_menu ul li a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    word-wrap: anywhere;
  }

  .hotels_select_item.tariff {
    display: flex;
    align-items: center;
    border-bottom: 0;
  }
  
  .edit_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: #f4f4f4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 20px 0px 0px;
  }



/* 15.06.2020 */
.hotels_select_controls.usual_select .title {
	margin: 0 auto;
}

.pt-top {
	padding-top: 13px;
}

.hotels_select_controls .item .pt-top::after {
top: 15px;
}

.hotels_select_item.tariff.top {
	padding: 0;
	justify-content: end;
}

.pagination .left {
	display: flex;
	align-items: end;
}